.contacto-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}

.contacto-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto-input{
    font-size: 15px;
    width: 500px;
    height: 20px;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
    font-family: "Inter", sans-serif ;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    display: inline-block;
    color: #111;
}
.contacto-input:focus{
    outline: none;
    border: 2px solid #000;
    display: inline-block;

}
.contacto-input:hover{
    border: 2px solid #000;
    display: inline-block;

}
.mensaje{
    height: 100px;
}

.contacto-boton{
    margin: 10px 0 0 0 ;
    width: 150px;
    transition: transform 0.3s ease;
    background-color: #000;
    color: #fff;

}
.contacto-boton:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.contacto-titulo{
color: #000;
}
.container-mensaje-enviado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-mensaje-enviado{
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    width: 150px;
}
@media (max-width: 600px) {
    .contacto-input{
        width: 90%;
        font-size: 16px;
    }
    .mensaje{
        height: 100px;
    }
}