

.estudios-container{
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.estudios-contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.estudios-container-tarjetas{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto);  
  gap: 20px;
  padding: 20px;

}



@media (max-width: 768px) {
  .estudios-container-tarjetas {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
}

    
@media (max-width: 480px) {
  .estudios-container-tarjetas {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }
}