ul{
    list-style: none;
}

.formacion-li{
    border: 1px solid #000;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
    height: 170px;
    padding: 20px;
    color: #000;
    transition: transform 0.3s ease;
    display: inline-block;
    
}
.formacion-li:hover{
    transform: scale(1.05);
    border:1px solid #D6BFAF;
    background-color: rgba(255, 255, 255, 0.1); 
  
}

.formacion-imagen{
   width: auto;
    height: 50px;
    margin-top: 15px;

}
.li-subtitulo{
    font-family: "Inter", sans-serif ;
    font-size: 26px;
    margin: 0;
    font-weight: 500;
}
.li-descripcion{
    font-family: "Inter", sans-serif ;
    font-size: 20px;
    margin: 0;
    font-weight: 300;
}

@media (max-width: 450px) {
    .formacion-li {
        width: 230px;
        height: auto;
        padding: 15px;
    }
    .formacion-imagen{
        height: 40px;
    }
}