
header{
    display: flex;
    justify-content: end;
    background-color: white;

}

@media (max-width: 600px) {
    header{
        justify-content: center;
        flex-wrap: wrap;
        
    }
}