@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    justify-content: center;
    text-align: center;

}

.home-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #8b5cf6, #3b82f6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: float 8s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.home-titulo {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    color: #111;
    animation: slideInRight 0.9s ease-out both;


}

.home-subtitulo {
    font-weight: 600;
    font-size: 36px;
    margin: 16px 0 0 0;
    background: linear-gradient(to bottom right, #8b5cf6, #3b82f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideInLeft 0.9s ease-out both;

}

.home-descripcion {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    color: #737373;
    font-weight: 500;
    animation: slideInLeft 0.6s ease-out both;

}

.home-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-shadow:  1px 1px 0 #2e343b96;*/
}

.home-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0 0 0;
}

.home-boton {
    font-size: 20px;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    color: #111;
    transition: transform 0.3s ease;
    width: 170px;
    text-align: center;
    font-weight: 600;
}

.proyectos {
    background-color: #1a1a1a;
    color: #fff;
}

.home-boton:hover {
    color: #344862;
    transform: scale(1.2);
    border: 1px solid #344862;
    background-color: rgb(249, 236, 236);
}


@media (max-width: 768px) {
    .home-titulo {
        font-size: 36px;
    }

    .home-subtitulo {
        font-size: 28px;
    }

    .home-descripcion {
        font-size: 20px;
    }

    .home-botones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .home-boton {
        margin: 0;
    }
    .home-container{
        justify-content: flex-start;
        margin-top: 30px;
    }

}

@media (max-width: 450px) {
    .home-contenido {
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 300px;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;

    }

    .home-botones {
        gap: 20px;
        margin: 40px;
    }

    .home-boton {
        font-size: 15px;
        width: 100px;
        padding: 8px;
        
    }
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}