@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #090c0b;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 40px;
    margin-top: 0;
    gap: 50px;
    width: 100vw;
    background-color: rgba(50, 39, 39, 0.203); 

}

.link-nav{
    color: #f1f1f1;
    font-weight: 600;
    text-shadow:  1px 1px 0 #8e9cad;
    font-size: 30px;
    font-family: "Inter" ;
    transition: transform 0.3s ease;
    display: inline-block;



}

.link-nav:hover{
    color: #344862;
    transform: scale(1.2);
    text-shadow:  none;

}

@media (max-width: 768px) {
    .nav-container{
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px 20px;
    }

    .link-nav{
        font-size: 24px;
    }
}