@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 40px;
    margin-top: 0;
    width: 100%;
    gap: 50px;

}

.link-nav{
    color: #111;
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter" ;
    transition: transform 0.3s ease;
    display: inline-block;



}

.link-nav:hover{
    color: #344862;
    transform: scale(1.2);
    text-shadow:  none;

}

@media (max-width: 768px) {
    .nav-container{
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px 20px;
    }

    .link-nav{
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .nav-container{
        gap: 10px;
        padding: 5px 10px;
    }

    .link-nav{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}