.proyecto-container {
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    


}


.proyecto-li {
    display: flex;
    color: #000;
    flex-direction: column;
    max-width: 700px;
        

}

.proyecto-tarjeta-container-img-dploy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;    

}

.minicontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonera-proyectos {
    display: flex;
    gap: 30px;
}

.proyecto-empresa {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #000;
}

.proyecto-descripcion {
    font-size: 16px;
    margin: 0;
    color: #000;
    text-align: justify;
}

.proyecto-titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #00BFFF;
    text-align: center;
    margin-bottom: 10px;
}

.proyecto-boton {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    width: 120px;
    text-align: center;
}

.deploy {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.proyecto-boton:hover {
    background-color: #1E90FF;
    transform: scale(1.05);
}

.proyecto-imagen {

    width: 500px;
    margin-top: 15px;
}

/*
botones #00BFFF
hover #1E90FF

hover #A6FF00


*/


@media (max-width: 500px) {
    .proyecto-li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .proyecto-tarjeta-container-img-dploy {
        padding: 10px;
    }

    .proyecto-tarjeta-container {
        width: 300px;
    }

    .proyecto-imagen {

        width: 300px;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}