.div-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.about-container{
   background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sobremi-contenido{
  display: flex;
  flex-direction:row-reverse;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  padding: 50px 0;
  border-radius: 15px;
}
.sobremi-subtitulo{
   
    font-size: 46px;
    margin: 0;
    color: #000;
}
.barra{
  width: 100px;
  height: 5px;
  background: linear-gradient(to right, #8B5CF6, #451950);
  margin: 10px auto;
  border-radius: 10px;
}
.yoni{
  width: 300px;
  border-radius: 50%;
}
.card-title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #000;
  margin: 0;
}

.card-text {
  color: #737373;
  margin: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
}

.info-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: start;
 
  justify-content: safetly;
  gap: 1.5rem; /* space-x-4 */
  padding: 1.5rem; /* p-6 */
  border-radius: 0.8rem; /* rounded-lg */
  background-color: hsl(var(--background));
  border: 1px solid #f6eded;
  transition: box-shadow 0.3s ease;
  color: #000;
}

.info-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* space-y-4 */
  animation: slideInRight 0.6s ease-out both;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space-y-6 */
  animation: slideInLeft 0.6s ease-out both;
}

.text-paragraph {
  font-size: 1.125rem; /* text-lg */
  line-height: 1.625;  /* leading-relaxed */
  color: #737373;
}

.about-grid {
  display: grid;
  gap: 3rem; /* gap-12 = 48px */
  align-items: center;
}

@media (min-width: 768px) {
  .about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .sobremi-contenido {
    flex-direction: column;
    text-align: justify;
  }

  .yoni {
    width: 200px;
    margin-bottom: 20px;
  }
  .sobremi-descripcion{
    font-size: 16px;
  }
  .sobremi-subtitulo{
    font-size: 28px;
  }
}

.icon-wrapper {
  padding: 0.75rem;
  border-radius: 50%;
}

.icon-purple {
  background-color: rgba(168, 85, 247, 0.1);
  color: #a855f7;
}

.icon-indigo {
  background-color: rgba(99, 102, 241, 0.1);
  color: #6366f1;
}

.icon-pink {
  background-color: rgba(236, 72, 153, 0.1);
  color: #ec4899;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
