
.about-container{
     
    background-image: url('/src/assets/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sobremi-contenido{
  display: flex;
  flex-direction:row-reverse;
  gap: 50px;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin-top: 50px;
  background-color: rgba(34, 32, 32, 0.1); 
  padding: 40px;
  border-radius: 15px;
}
.sobremi-subtitulo{
   font-family: "Inter", sans-serif ;
    font-size: 36px;
    margin: 0;
    text-shadow:  1px 1px 0 #2e343b96;
}
.sobremi-descripcion{
    font-family: "Inter", sans-serif ;
    font-size: 20px;
    margin: 0;
    text-shadow:  1px 1px 0 #2e343b96;
}

.yoni{
  width: 300px;
}



@media (max-width: 768px) {
  .sobremi-contenido {
    flex-direction: column;
    text-align: justify;
  }

  .yoni {
    width: 200px;
    margin-bottom: 20px;
  }
  .sobremi-descripcion{
    font-size: 16px;
  }
  .sobremi-subtitulo{
    font-size: 28px;
  }
}